html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, def, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, th, td {
  margin: 0px; padding: 0px; border: 0px; outline: 0px; outline: none !important;}

body::-webkit-scrollbar {z-index: 30; width: 10px; }
body::-webkit-scrollbar-track {background-color: #eaeaea; border-left: 1px solid #666; }
body::-webkit-scrollbar-thumb {background-color: #666; }
body::-webkit-scrollbar-track, body::-webkit-scrollbar-thumb {border-radius: 0; box-shadow: none; border: 0; }

body {font-family: 'Muli', sans-serif; background: #fff; color:#5C5C5C;}
.container{width: 90%;}
.container-100{width: 90%; background: #FBFCFD; padding: 25px 100px;}
section.fixedto{position: fixed; width: 90%; left: 5%; top:50px; background: #FBFCFD; z-index: 999; margin: 0 auto;}
section.afterfixedstart{padding-top: 210px;}

.navbar{background: #fff; border: 0; z-index: 999;}
.navbar .navbar-brand{padding: 7px 0;}
.navbar .navbar-brand span{font-size: 24px; vertical-align: -webkit-baseline-middle; color: #000;}
.navbar .navbar-right li a{font-size: 18px; color: #333; letter-spacing: 0.5px; font-weight: bold}

.info-box{margin-bottom: 0px;}
.info-box h2{margin-bottom: 15px; font-size: 24px;}
.info-box h4{font-size: 16px;}

.t-quesans-box{margin:30px 0; font-size: 16px;}
.t-quesans-box .t-ques{font-weight: bold; margin-bottom: 10px;}
.t-quesans-box .t-ans-options fieldset{background: #E9EAEC; border: 1px solid #979797; border-radius: 28.5px; padding: 6px 12px;}
.t-quesans-box .t-ans-options .switch-toggle{margin: 0;}
.t-quesans-box .t-ans-options label{font-weight: 300; cursor: pointer;}
.t-quesans-box .t-ques-hint{font-size: 16px; margin-bottom: 10px;}
.t-quesans-box .t-ans-options .btn-primary{background: #0090FF !important; border-radius: 28.5px; border: 0;}
.t-quesans-continue{background-color: #CC0000; color: #fff !important; padding: 12px 50px; font-size: 16px; letter-spacing: 0.5px; text-transform: uppercase; border-radius: 1px; margin-top: 30px;}

#car-trans img, #car-trans{transition: all 0.75s ease-in-out; image-rendering: -webkit-optimize-contrast;}
.question-set{transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);}

.width-30{width: 30%;}
.width-40{width: 40%;}
.width-50{width: 55%;}
.width-60{width: 60%;}
.width-80{width: 80%;}
.width-90{width: 95%;}

.switch-toggle label:nth-child(2):nth-last-child(20), .switch-toggle label:nth-child(2):nth-last-child(20) ~ label, .switch-toggle label:nth-child(2):nth-last-child(20) ~ a {
    width: 10%;
}

.switch-toggle input:checked + label {color: #fff !important;}

.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(3) + label ~ a {left: 10%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(5) + label ~ a {left: 20%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(7) + label ~ a {left: 30%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(9) + label ~ a {left: 40%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(11) + label ~ a {left: 50%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(13) + label ~ a {left: 60%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(15) + label ~ a {left: 70%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(17) + label ~ a {left: 80%; }
.switch-toggle label:nth-child(2):nth-last-child(20) ~ input:checked:nth-child(19) + label ~ a {left: 90%; }


.bs-wizard {padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; width:150px;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 0px; height: 0; visibility: hidden;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: transparent; top: 22px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; transition: all 0.75s ease-in-out;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot{background: #D8D8D8;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #4A4A4A; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after{background: #0090FF;}
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 2px; box-shadow: none; margin: 20px 0; background: #0090FF;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0090FF;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

@media (max-width: 1125px) {
section.fixedto{width: 100%; left: 0;}
.container-100{width: 100%; padding: 25px 50px;}
}
