<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>name</th>
        <th>rating</th>
        <th>cuisine</th>
        <th>Action

          <button class="btn btn-success btn-sm" (click)="add()" 
          data-toggle="modal" data-target="#EditModal">Add</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentlist; let i = index">
        <td>{{item?.name}}</td>
        <td>{{item?.rating}}</td>
        <td>{{item?.cuisine}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="edit(item)" 
                data-toggle="modal" data-target="#EditModal">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="delete(item._id.$oid)" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div id="EditModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Add/Update Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
     
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" [(ngModel)]="iteemToupdate.name"  class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="rating">rating:</label>
            <input type="number" name="rating" [(ngModel)]="iteemToupdate.rating" class="form-control" id="rating">
          </div>
          <div class="form-group">
            <label for="cuisine">cuisine:</label>
            <input type="text" name="cuisine" [(ngModel)]="iteemToupdate.cuisine" class="form-control" id="cuisine">
          </div>
          <button type="submit" class="btn btn-default" (click)="savetoDb()" >Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>